<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Ensure restores do not depend on any user/machine private feeds -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
